.form-container {
    
    margin: 0 auto;
    max-width: 860px;
    max-height: 800px;
    
  }

  form {
    display: block;
  }
  
  input,
  p {
    display: block;
    
  }

  .form-container {
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0 auto;
    
  }
  
  form {
    display: block;
   
  }
  
  input,
  p {
    display: block;
    margin-bottom: 10px;
  }
  
  .form-container {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-top: 5%;
    margin-bottom: 5%;
   
    border-color: #3a0c00;
    border: 6px double #3a0c00 ;
    background-color: #ffcec2;
  }

  body{
    background-color:#3a0c00;

  }



::-webkit-input-placeholder {
    font-size: 16px;
}

:-moz-placeholder {
    font-size: 16px;
}

::-moz-placeholder {
    font-size: 16px;
}

:-ms-input-placeholder {
    font-size: 16px;
}

.box {
  width: 700px; /* set the width to 300px */
  height: 50px; /* set the height to 40px */
}
.btn:hover{
  
  color: #ffcec2;
}
.btn{
  background-color: #3a0c00;
  color: #df9f8f;
  height: 50px;
  width: 80px;
}
.register-link{
  color:#3a0c00;
  font-weight: 550;

}
.forgot-link{
  color:#3a0c00;
  font-weight: 550;

}
.register-link:hover{
  font-weight: 450;
  color: #3a0c00;
}
.forgot-link:hover{
  font-weight: 450;
  color: #3a0c00;
}
a{
  color:#ffcec2 
  ;
}

.login-container {
  display: flex;
  justify-content: center;
  display: block;
}

.login-form input {
  display: block;
}

.login-heading {
  font-size:50px ;
      text-align: center;
      color: #3a0c00;
      font-family: 'Bellefair', serif;
}

.login-form p {
  display: inline-block;
  vertical-align: middle;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
